
/*
1200px
992px
768px
576px 
*/

@media all and (max-width: 1200px) {
	.container {
		width: 90%;
	}
}

@media all and (max-width: 992px) {

}

@media all and (max-width: 768px) {
	.container {
		width: 80%;
	}

	.recipe-grid_action {
		font-size: 85px;
	}

	.recipe-grid_image-wrapper{
		max-height: 500px;
	}
	.recipe-swipe_image-wrapper{
		height: 100px;
	}
}

@media all and (max-width: 576px) {
	.container {
		width: 90%;
	}

	.masonry-grid h3 {
		font-size: 16px;
	}

	.recipe-grid_action {
		font-size: 60px;
	}

	.recipe-grid_action:first-child {
		margin-right: 10%;
	}

	.recipe-grid_image-wrapper{
		max-height: 225px;
	}

	.recipe-swipe_image-wrapper{
		height: 90px;
	}

	.carousel.carousel-slider {
		width: 95% !important;
	}
}
