recept-back/node_modules
recept-back/build
recept-back/screenshots/*
recept-back/serviceworker.js
recept-front/node_modules
recept-front/build

create_cachable_images.js
import.js
package-lock.json
extfile.ext
rootCA.key
rootCA.pem
rootCA.srl
SSL-key
cert.pem
server.csr
server.crt
server.key
ssl.conf
localforage.min.js
bootstrap*
**/.DS_Store