services:
  sharp:
    build:
      context: ./src/layers/sharp
      dockerfile: Dockerfile
    volumes:
      - ./src/layers/sharp:/app
  firebase-admin:
    build:
      context: ./src/layers/firebase-admin
      dockerfile: Dockerfile
    volumes:
      - ./src/layers/firebase-admin:/app

  chromium:
    build:
      context: ./src/layers/chromium
      dockerfile: Dockerfile
    volumes:
      - ./src/layers/chromium:/app
